@charset "UTF-8";

body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

a:link {
  color: #005585;
  text-decoration: none;
}
a:visited {
  color: #485270;
}
a:hover {
  color: #b83800;
  text-decoration: underline;
}

#main {
  text-align: left;
}

#plist {
    left:0px;
    top:0px;
    position:fixed;
    height:100%;
    overflow-y:scroll;
    width:30%;
}

#package-details {
    float:left;
    height:600px;
    padding:5%;
    padding-left:35%;
    width:60%;
}