{% extends "layouts/default.html" %}
{% block title %}Sluglisp - like Quicklisp, but slower{% endblock %}
{% block content %}
  <div id="main">
    <div id="filter-area">
      <span class="tip">
        You can search project contents by regex, and filter by
        package name.
      </span>
      <a href="http://ahungry.com"><img src="/images/logo-small.png"></a>
      <img src="/images/made-with-lisp-small.png">
      <br style="clear:both;">

      <input type="text" name="search" id="search" value={{ search }}>
      <button id="sgo">search</button>
      <button id="sreset">reset all</button>
      <br>

      <input type="text" name="filter" id="filter">
      <button id="go">filter</button>
      <button id="reset">reset filter</button>

      <div class="legend">
        &#9733; = cached a readme file
        <br>
        Showing {{ projectc }} matching projects
      </div>
    </div>
    <div id="plist">
      <table id="plist-table">
        <thead>
          <tr>
            <th data-sort="string" class="but">Name&nbsp;&darr;</th>
            <th data-sort="int" class="but">Stars&nbsp;&darr;</th>
          </tr>
        </thead>
        <tbody>
          {% for package in packages %}
            <tr>
              <td>
                {% ifequal package.type "git" %}
                  <a href="/package/{{ package.name }}" class="package-name">{{ package.name }}</a>
                {% else %}
                  <a href="/package/{{ package.name }}" class="package-name noinfo">{{ package.name }}</a>
                {% endifequal %}

                {% ifequal package.readme "1" %}
                  <span class="readme">&#9733;</span>
                {% endifequal %}

                <span class="type">{{ package.type }}</span>
              </td>
              <td>
                <span class="starlist">{{ package.stars }}</span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="package-details">
    </div>
  </div>
{% endblock %}
